<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="style.css">

	<title>microBLOG</title>
</head>
<body>

	<div class='container'>

		<!-- header -->
		<div id='header'>
			<ul class='header'>
<!-- 				<li><a href='index.html'>HOME<a></li> -->
				<li><img class='header-img' src='images/header.jpg' /></li>
<!-- 				<li><a href='about.html'>ABOUT</a></li> -->
			</ul>
		</div>
		<hr>

		<!-- Add new post btn -->
		<div class='post-btn'>
			<a href='#' type='button' id='new-post-btn' data-toggle='modal' data-target='#new-post'>Add new post</a>
		</div>
		<div id='post-list'>
			<!-- One post -->
			<!-- <div class='post'>
				<div class='row'>
					<button type="button" class="close delete" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class='col-md-1'>
						<p class='post-number'>&#8470; 5</p>
					</div>
					<div class='col-md-10'>
						<div>
							<h2>Title</h2>
							<p class='#'>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim venenatis erat a fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce dapibus est vel lacus maximus, quis euismod lectus gravida. Aliquam tempus ullamcorper arcu, in malesuada ante. Duis ut molestie sapien. Nullam congue, velit a facilisis laoreet, nulla erat mollis metus, quis auctor ante massa nec est.
							</p>
							<div>
								<p class='post-footer'><b>Posted by Ian Civgin on July 2, 2015.</b></p>
							</div>
						</div>
					</div>
					<div class='col-md-1 high-five'>
						<p class='post-footer'>4<span class='high-five-btn'>ICON</span></p>
					</div>
				</div>
			</div> -->
			<!-- One Post/ -->
		</div>

		<!-- Modal / Form -->
		<div class="modal fade" id="new-post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Write a new post:</h4>
		      </div>
		      <div class="modal-body">
		        <form class='form-group' id='new-post-form'>
		        	<label for='your-name'>Your name</label>
					<input class='form-control' id='your-name' type="text" placeholder='For example "Jon Doe"'>
					
					</input>
					<label for='post-title'>Post title</label>
					<input class='form-control' id='post-title' type="text">
						
					</input>
					<label for='content'>What would you like to write today?</label>
					<textarea class='form-control' rows='4' id='content' type="text">
						
					</textarea>
					<div class='text-right'>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<input type="submit" class="btn btn-primary"></input>
					</div>
		        </form>
		      </div>
		     <!--  <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <input type="submit" class="btn btn-primary"></input>
		      </div> -->
		    </div>
		  </div>
		</div>
		<!-- Modal / -->

	</div>

	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- underscore -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

	<!-- custom script -->
	<script type="text/javascript" src="scripts.js"></script>

	<script type='text/template' id='post-template'>
		<div class='post'>
			<div class='row'>
				<button type="button" class="close delete" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class='col-sm-1'>
					<p class='post-number'>&#8470; <%= index %></p>
				</div>
				<div class='col-sm-10'>
					<div>
						<h2><%= title %></h2>
						<p class='#'>
							<%= content %>
						</p>
						<div>
							<p class='post-footer'><b>Posted by <%= owner %> on <%= date %>.</b></p>
						</div>
					</div>
				</div>
				<div class='col-sm-1 high-five'>
					<p class='post-footer'><%= highFiveCount %> <span class='glyphicon glyphicon-thumbs-up high-five-click'></span><br>Likes</p>
				</div>
			</div>
		</div>
	</script>
</body>
</html>