/* Header */
#header {
	margin-top: 15px;
	margin-right: 50px;
}

.header {
	list-style-type: none;
	text-align: center;
}

.header li {
	display: inline;
	padding: 30px;
}

.header img {
	max-width: 400px;
}

@media screen and (max-width: 575px) {
	.header img {
		max-width: 200px;
	}
}

/* Add post button*/
.post-btn {
	margin-bottom: 20px;
}
.right {
	float: right;
}

/* Posts */
.post {
	padding: 20px 20px 50px 20px;
	margin-bottom: 20px;
	border: solid black 1px;
}

.post-footer {
	display: inline;
}

.post-number {
	font-size: 24px;
	padding-top: 15px;
}
.high-five {
	padding-top: 25px;
	padding-right: 20px;
}
.close {
	margin-right: 20px;
}

/* Form */
.form-control {
	margin-bottom: 20px;
}